@{
    ViewData["Title"] = "Congrats";
}

<h1>Congrats</h1>

<div class="tenor-gif-embed" data-postid="25346670" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/cute-gif-25346670">Cute GIF</a>from <a href="https://tenor.com/search/cute-gifs">Cute GIFs</a>
    </div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>